NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=bookreader_user
DB_PASSWORD=bookreader_password
DB_NAME=bookreader_db

JWT_SECRET=tu_jwt_secret_super_seguro_aqui

LOG_LEVEL=debug